In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import seaborn as sns
import math
import re
import scipy.stats as stats
import matplotlib.pyplot as plt
from datetime import datetime, date, time
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.preprocessing import label_binarize
from sklearn import datasets
%matplotlib inline

In [2]:
df = pd.read_csv('C:/Users/mauri/Documents/Important IH Files/ipynb files/unit4.csv')
df.head()

,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,HV2,HV3,HV4,IC1,IC2,IC3,IC4,IC5,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,IL,,3712,XXXX,,F,T2,NaN,,479,635,3,2,307,318,349,378,12883,,74,27,6,14,9702,L4E,31,4.0,7.741935
1,CA,,5202,XXXX,,M,S1,6.0,H,5468,5218,12,10,1088,1096,1026,1037,36175,,32,12,6,13,9702,L2G,3,18.0,15.666667
2,NC,,0,XXXX,,M,R2,3.0,U,497,546,2,1,251,292,292,340,11576,,63,26,6,14,9702,L4E,27,12.0,7.481481
3,CA,,2801,XXXX,,F,R2,1.0,U,1000,1263,2,1,386,388,396,423,15130,,66,27,6,14,9702,L4E,16,9.0,6.812500
4,FL,,2001,XXXX,X,F,S2,3.0,H,576,594,4,3,240,250,293,321,9836,,113,43,10,25,9702,L2F,37,14.0,6.864865

# 4.02 Activity 1
## Option 1: Filtering the rows with the empty values.
## Option 2: Replacing the empty values with some other category, the most frequently represented value in that column.

In [3]:
df['DOMAIN'].value_counts()

R2    13006
T2    11717
S1    10866
S2     8054
C2     7834
C1     5793
C3     5056
T1     4712
R3     4572
U1     4259
U2     3111
U3     2484
       2176
T3     2092
S3     1817
U4     1735
R1     1285
Name: DOMAIN, dtype: int64

In this case, because we are dealing with Categorical Data, we would like to replace our NaN values with the Mode, which in this case is R2

In [4]:
# data['GENDER'].value_counts()
def clean_gender_col(x):
    if x in ['',' ' ,'U', 'C', 'J', 'A']:
        return 'other'
    else:
        return x

# data['GENDER'] = list(map(clean_gender_col, data['GENDER']))

# 4.02 Activity 2
## There is a more efficient way to use map over pandas dataframes, and it is called apply.

## Use it instead of the map for applying the previous function to the same data.
## Do the same using the equivalent lambda function.

In [5]:
df['GENDER'].apply( clean_gender_col).value_counts()

F        48668
M        37132
other     4769
Name: GENDER, dtype: int64

In [6]:
df['GENDER'] = list(map(lambda x: clean_gender_col(x), df['GENDER'] ))

In [9]:
df['GENDER']

0        F
1        M
2        M
3        F
4        F
        ..
90564    F
90565    M
90566    M
90567    M
90568    F
Name: GENDER, Length: 90569, dtype: object

## 4.02 Activity 3
## Use the column MDMAUD to reduce the number of categories to two (XXXX and other).

In [6]:
df['MDMAUD'].value_counts()

XXXX    90290
C1CM       59
L1CM       44
I1CM       34
D2CM       27
C2CM       23
D1CM       19
L2CM       14
C1LM        8
L1LM        8
I2CM        7
D5CM        5
D5MM        5
D2MM        4
I1LM        3
D5TM        3
C2MM        3
C5CM        3
C2LM        2
C1MM        1
I2MM        1
I5CM        1
I5MM        1
C5MM        1
L1MM        1
C5TM        1
L2TM        1
Name: MDMAUD, dtype: int64

In [7]:
def clean_mdmaud(x):
    if x in ['XXXX']:
        return x
    else:
        return 'other'

In [8]:
df['MDMAUD'].apply(clean_mdmaud).value_counts()

XXXX     90290
other      279
Name: MDMAUD, dtype: int64